# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

/dependency-reduced-pom.xml
/*.pack
/local_launcher.properties
instances/
libraries/
out/
assets/
Bootstrapper/src/com/siamminecraft/launcher/bootstrapper/Main.java
accounts.dat
build.bat
start.bat
test.bat
test/SKCraftLauncher.jar
versions/1.7.2/1.7.2.jar
